.modalPhoto {
  width: 100%;
  height: 600px;
  object-fit: cover;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}

.modalWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}

.author {
  border-radius: 50%;
}
